html {
    width: 100%;
    height: 100%;
}

.modal-content {
    max-width: 50vh !important;
    height: 60vh !important;
}

div#credential-container {
    width: 100vw !important;
    display: flex;
    justify-content: center;
    place-items: center;
}

#credential-container input {
    margin-bottom: 5% !important;
}

#editor-wrapper {
    height: 65vh !important;
}

#editor-wrapper > *{
    max-height: 100% !important;
}

.icon {
    pointer-events: all !important;
    cursor: pointer !important;
}

.hide {
    display: none !important;
}

a.tab-doc {
    color:white !important;
}

div#body-doc {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 40vh !important;
    }
}