html {
    width: 100%;
    height: 100%;
}

#body-pub > * {
    margin-bottom: 1rem;
}

#search-result {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.preview {
    max-width: 100%;
    max-height: auto;
}

#doc-thumbnail {
    max-width: 35%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

.vote-wrapper {
    display: flex !important;
    place-items: center !important;
    gap: 10px;
}

#vote-button {
    border: 0 !important;
}

.modal-content {
    max-width: 50vh !important;
    height: 60vh !important;
}

div#credential-container {
    width: 100vw !important;
    display: flex;
    justify-content: center;
    place-items: center;
}

#credential-container input {
    margin-bottom: 5% !important;
}

#editor-wrapper {
    height: 65vh !important;
}

#editor-wrapper > *{
    max-height: 100% !important;
}

.icon {
    pointer-events: all !important;
    cursor: pointer !important;
}

.hide {
    display: none !important;
}

a.tab-doc {
    color:white !important;
}

div#body-doc, div#body-pub {
    width: 100% !important;
    height: 100% !important;
}

div#body-pub {
    margin-top: 1%;
}

div.post {
    width: 40vw;
    height: 40vh;
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 40vh !important;
    }
}