:root {
    --line-color: white;
    --loader-color: white;
}

[data-theme="light"] {
    --line-color: black;
    --loader-color: black;
}

html {
    width: 100%;
    height: 100%;
}

#feed > * {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

.doc-preview {
    width: 20%;
    height: 20%;
}

.post {
    max-height: none !important;
    height: max-content !important;
}

#posts-container, #bio-container {
    margin-top: 6%;
}

.post-tabs {
    border: 1px solid grey;
}

.line {
    width: 100%;
    border: 1px solid var(--line-color);
    content: "";
    height: 0;
}

.post-container {
    position: static;
    margin-bottom: 7% !important;
    width: 100vw;
    display: flex;
    justify-content: center;
}


#body-pub > * {
    margin-bottom: 1rem;
}

#search-result {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.user-icon {
    min-width: 50px;
    min-height: 50px;
    max-width: 100px;
    max-height: 100px;
}

.preview {
    max-width: 100%;
    max-height: 100%;
}

#doc-thumbnail {
    max-width: 35%;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

.vote-wrapper {
    display: flex !important;
    place-items: center !important;
    gap: 10px;
}

#vote-button {
    border: 0 !important;
}

.modal-content {
    max-width: 50vh !important;
    height: 60vh !important;
}

div#credential-container {
    width: 100vw !important;
    display: flex;
    justify-content: center;
    place-items: center;
}

#credential-container input {
    margin-bottom: 5% !important;
}

#editor-wrapper, #modify {
    height: 65vh !important;
}

#editor-wrapper > *{
    max-height: 100% !important;
}

.icon {
    pointer-events: all !important;
    cursor: pointer !important;
}

.hide {
    display: none !important;
}

a.tab-doc {
    color:white !important;
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    place-items: center;
}

.main-loader {
  display: block;
  width: 130px;
  height: 4px;
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.main-loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

div#middle-modal-content {
    background-color: white;
    max-width: none;
    max-height: none !important;
    width: max-content;
    height: max-content !important;
    padding: 1rem 1.5rem;
    margin: auto;
}

div#body-doc, div#body-pub {
    width: 100% !important;
    max-height: 100% !important;
    overflow-y: hidden !important;
}

div#body-pub {
    margin-top: 1%;
}

div.post {
    width: 40vw;
    height: 40vh;
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 40vh !important;
    }
    div:not(.line) {
        max-width: none !important;
        width: max-content !important;
        max-height: none !important;
        height: max-content !important;
    }

    .ql-toolbar.ql-snow {
        max-width: 100vw !important;
        white-space: normal; 
    }

    #editor-wrapper, #modify {
        max-width: 100vw !important;
        height: 65vh !important;
    }

    .post-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .author-container {
        font-size: xx-small;
    }

    #editor, #modify-editor {
        width: 100% !important;
        height: 100% !important;
    }

    .column {
        max-width: 100vw;
    }

    #login-form {
        width: 50px !important;
    }

    #login-form .field.is-grouped {
        flex-direction: column;
    }

    #login-form > * {
        max-width: 100% !important;
    }
}